.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 606px;
    height: 606px;
    margin: auto;
  }

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-image: url("IMG_1786.jpg");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
    margin-bottom: 2px;
    margin-top: 2px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 0.2px 0 black, 0 -1px black;
  }
  
#time-left{
    margin-bottom: 1em;
}
#score{
    margin-bottom: 1em;
}
body {
    background: repeating-radial-gradient(white, grey, black);
  }
    